body {
    background: url(../images/parchment.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Neuton', serif;
    color: rgb(54, 41, 15)
}

.jumbotron {
    padding-top: 40px;
    padding-bottom: 0;
}

#title {
    font-family: 'Ewert', cursive;
}

#subtitle {
    font-family: 'Neuton', serif;
    font-size: 36px;
}

#table-head{
    font-size: 20px;
}

.blank {
    border: none;
    background: none;
}

.form-control {
    background: rgba (110, 103, 64, 0.5);
}

.btn {
    font-size: 20px;
    background: none;
    border: none;
    color: rgb(54, 41, 15)
}
